/**
 * Generates the classes for use in a grid system
 */
/**
 * Generates the .span classes that are used to create columns
 */
$i: 1;
@while $i < ($columns + 1) {
  .span#{$i} { 
  	width: $i / $columns * 99.9%;
  }
  $i: $i + 1;
}

.span {
	float: left;
	> * {
		margin-left: $gutterWidth +px;
		display: block;
	}
}


/**
 * Generates the containing Row
 */
.row {
	margin-left: 0 - $gutterWidth +px;
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}


/**
 *	Usage
 *	<div class="row">
 *		<div class="span4">Hello</div>
 *		<div class="span4">Hello</div>
 *		<div class="span4">Hello</div>
 *	</div>
 *
 */